body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4d8dd5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0022ff;
}
